{% extends 'homebase.html' %}

{% block title %}
  Product Search Results
{% endblock %}

{% block keywords %}
  {{ categorydata.keywords }}
{% endblock %}

{% block description %}
  {{ categorydata.description }}
{% endblock %}

{% block head %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ setting.icon.url }}" />
{% endblock %}

{% block sidebar %}
  {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
  <!-- BREADCRUMB -->
  <div id="breadcrumb">
    <div class="container">
      <ul class="breadcrumb">
        <li>
          <a href="/">Anasayfa</a>
        </li>
        <li class="active">{{ categorydata.title }}</li>
      </ul>
    </div>
  </div>
  <!-- /BREADCRUMB -->

  <!-- section -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <style>
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td,
          th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
        </style>
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for rs in schopcart %}
              <tr>
                <td class="thumb">
                  <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}"><img src="{{ rs.product.image.url }}" height="150px" alt="" /></a>
                </td>
                <td class="details">
                  <a href="">{{ rs.product }}</a>
                </td>
                <td class="price text-center">
                  <strong>{{ rs.product.price }}</strong>
                </td>
                <td class="qty text-center">{{ rs.quantity }}</td>
                <td class="total text-center">
                  <strong class="primary-color">{{ rs.amount }}</strong>
                </td>
                <td class="text-right">
                  <a href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Are you sure you want to delete?')" class="main-btn icon-btn"><i class="fa fa-close"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th class="empty" colspan="3"></th>
              <th>SUBTOTAL</th>
              <th colspan="2" class="sub-total">{{ total }}</th>
            </tr>
            <tr>
              <th class="empty" colspan="3"></th>
              <th>SHIPING</th>
              <td colspan="2">Free Shipping</td>
            </tr>
            <tr>
              <th class="empty" colspan="3"></th>
              <th>TOTAL</th>
              <th colspan="2" class="total">{{ total }}</th>
            </tr>
          </tfoot>
        </table>
        <div class="pull-right">
          <a href="/order/orderproduct" class="primary-btn">Place Order</a>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /section -->
{% endblock %}
